<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/capacitor"></ion-back-button>
    </ion-buttons>
    <ion-title>Modals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button (click)="showActionSheet()">Action sheet</ion-button>

  <ion-button (click)="showAlert()">showAlert</ion-button>
  <ion-button (click)="showConfirm()">showConfirm</ion-button>
  <ion-button (click)="showPrompt()">showPrompt</ion-button>
  <ion-button (click)="showActions()">showActions</ion-button>

</ion-content>
