.item {
  .item-inner {
    border-bottom: none !important;
  }
}

ion-icon {
  font-size: 25px;
}

.year-range {
  font-size: 15px;
  font-weight: 550;
  &.button[disabled] {
    opacity: 1;
    color: gray !important;
  }
}

.calendar-button {
  text-decoration: underline;
  padding-right: 2px !important;
  padding-left: 2px !important;
}

.invalidMonth {
  color: #8b8b8b
}