<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/capacitor"></ion-back-button>
    </ion-buttons>
    <ion-title>Geolocation</ion-title>

    <ion-buttons slot="primary">
      <ion-button (click)="openSettings()">
        <ion-icon slot="end" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-progress-bar type="indeterminate" color="success" *ngIf="waitingForCurrentGeolocation"></ion-progress-bar>
    <ion-card-header>
      <ion-card-title>Current</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-geolocation-positions [position]="currentGeoloc"></app-geolocation-positions>
      <ion-button (click)="getCurrentPosition()" [disabled]="waitingForCurrentGeolocation" expand="block">
        <ion-icon slot="start" name="locate"></ion-icon>
        Get Current Position
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-progress-bar type="indeterminate" color="success" *ngIf="watchingPosition"></ion-progress-bar>
    <ion-card-header [@flashing]="flashingState">
      <ion-card-title>
        Watch
      </ion-card-title>
      <span *ngIf="watchingPosition"><ion-badge position="end" color="success">{{ positions.length }}</ion-badge></span>
    </ion-card-header>
    <ion-card-content>
      <app-geolocation-positions [position]="watchedGeoloc"></app-geolocation-positions>

      <ion-button (click)="watchPosition()" *ngIf="!watchingPosition" expand="block">
        <ion-icon slot="start" name="navigate"></ion-icon>
        Watch Position
      </ion-button>
      <ion-button (click)="stopWatchingPosition()" color="danger" *ngIf="watchingPosition" expand="block">
        <ion-icon slot="start" name="navigate"></ion-icon>
        Stop Watching Position
      </ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card [hidden]="watchedGeoloc?.coords.latitude === null">
    <ion-card-header>
      <ion-card-title>History</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item no-padding lines="none" >
        <ion-label>Mean time between positions</ion-label>
        <ion-note slot="end" color="primary" mode="ios">
          <span *ngIf="this.watchPositionsMeanInterval">{{ this.watchPositionsMeanInterval/1000 | number: '0.0-2'}} s</span>
          <span><em *ngIf="!this.watchPositionsMeanInterval">no data</em></span>
        </ion-note>
      </ion-item>

      <table class="history">
        <tr>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Diff</th>
        </tr>
        <tr *ngFor="let position of positions">
          <td>{{ position.position.coords?.latitude | number: '0.2-8' }}</td>
          <td>{{ position.position.coords?.longitude | number: '0.2-8' }}</td>
          <td>{{ position.diff/1000 | number: '0.0-2' }} s</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
