<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="capacitor">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Capacitor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cordova">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Cordova</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Camera</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
