<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ionic">
      <ion-icon name="logo-ionic"></ion-icon>
      <ion-label>Ionic</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="angular">
      <ion-icon name="logo-angular"></ion-icon>
      <ion-label>Angular</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="capacitor">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Capacitor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cordova">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Cordova</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
